/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$nero: #222;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$dim-grey: #707070;
$grey: #777;
$suva: #888;
$nobel: #999;
$chalice: #aaa;
$silver: #bbb;
$alto: #ccc;
$gainsboro: #ddd;
$smoke: #eee;
$white-smoke: #fafafa;
$wild-sand: #f4f4f4;
$battleship-grey: #777881;

/* --------------------------------------------------
  Main Colors 
-------------------------------------------------- */

$ink: #20232a;
$aluminum: #acbebe;
$paper: #f4f4ef;
$ruby-red: #a01d26;
