/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$nero: #222;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$dim-grey: #707070;
$grey: #777;
$suva: #888;
$nobel: #999;
$chalice: #AAA;
$silver: #BBB;
$alto: #CCC;
$gainsboro: #DDD;
$smoke: #EEE;
$white-smoke: #FAFAFA;
$wild-sand: #F4F4F4;
$battleship-grey: #777881;
